<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# In this notebook, the tools and ecosystem of data science are summarized.

# 2.Tools and DATA SCIENCE ECOSYSTEM

# 3.In this notebook, the tools and ecosystem of data science are summarized.

# objectifs
**data science tools** , **data science langages**, **data science ecosystem**

# 4.Some of the popular languages that data scientists use are:
## PYTHON
## R
## SQL
## JAVA

# 5.Some of the libraries commonly used by data scientists include:
* PANDAS
* SEABORN
* MATPLOTLIB
* SCIKIT-LEARN
* GGPLOT

In [9]:
# 6.Tools and Data science ecosystem

ds_tools = ["Jupyter Notebook", "RStudio", "VS Code"]
print(ds_tools)

['Jupyter Notebook', 'RStudio', 'VS Code']

### 7. Here are some examples of evaluating arithmetic expressions in Python.

#### Multiplication
result = 6 * 7
print(result)  # Output: 42
#### Division
result = 8 / 2
print(result)  # Output: 4.0

#### Integer Division
result = 7 // 2
print(result)  # Output: 3

#### Modulus
result = 10 % 3
print(result)  # Output: 1

#### Exponentiation
result = 2 ** 3
print(result)  #

In [4]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

# AUTHOR
## WERMI ADAMA